body {
    background-color: #eeeedf;
    color: rgb(19, 14, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    padding-left:300px; 
    padding-right:300px;
    font-size: 15px;
}

.theorem {
    padding: 50px;
    background-color:white;
    display: inline-block;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

.name {
    font-weight: bold;
    padding:5px;
}

.statement {
    font-style: italic;
}

.graphic {
    width: 80%;
    padding:10%;
}